#body {
    font-family: "Roboto", sans-serif;
    margin: 0px;
}

.section-1 {
    background: #1f2937;
    height: 50px;
}

.padded-nav {
    display: flex;
    padding-left: 7.5%;
    padding-right: 7.5%;
    justify-content: space-evenly;
    align-items: center;
}

.logo-section {
    color: #f9faf8;
    font-weight: bolder;
    font-size: 24px;
    flex: 1;
}

.nav-links {
    display: flex;
    flex: 1.5;
    list-style: none;
    justify-content: space-around;
}

.secondary-fonts {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    margin-block-start: 0px;
}

.section-2 {
    background: #1f2937;
    height: 430px;
    display: flex;
    padding-left: 7.5%;
    padding-right: 7.5%;
    gap: 30px;
}

.block-1,
.block-2 {
    flex: 1;
}

.main-font {
    color: #f9faf8;
    font-weight: bolder;
    font-size: 48px;
    margin-top: 100px;
    margin-block-end: 0px;
}

.button {
    background: #3882f6;
    border: none;
    text-align: center;
    padding: 10px 35px;
    border-radius: 15px;
}

.block-2 {
    margin: auto;
    justify-content: space-around;
}

.section-3 {
    background: #ffffff;
    height: 450px;
    display: flex;
    padding-left: 7.5%;
    padding-right: 7.5%;
    flex-direction: column;
}

.section-header {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    flex: initial;
    /* border: 5px solid red; */
    align-self: center;
    /* padding: 25px; */
    margin: 25px 0px;
}

.subtext-blocks-holder {
    display: flex;
    flex: 1;
    margin-top: 30px;
    /* border: 5px solid blue; */
    gap: 5px;
}

.subtext-blocks {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /* border: 5px solid gold; */
}

.text{
    flex: 1;
    color: #1f2937;
    font-size: 18px;
    /* border: 5px solid green; */
    justify-content: flex-end;
    text-align: center;
    margin: 0px;
}

.section-3-image{
    flex: 1;
    /* border: 5px solid green; */
    justify-content: flex-end;
}